* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

input {
  margin: 20px 38%;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.desc {
  text-align: center;
}

.lists {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
 
}

.card img {
  width: 70%;
}
